<div ng-controller="BasicDemoCtrl as ctrl" layout="column" ng-cloak>
  <md-card md-colors="{background: 'myTheme-accent-500-0.87'}">
    <md-card-title>
      <span md-colors="{color: 'amber-A700'}">Now you can use</span>
    </md-card-title>
  </md-card>
  <md-card md-colors="{background: 'primary'}">
    <md-card-title>
      <span md-colors="{color: 'accent-A200'}">Any color from any palette</span>
    </md-card-title>
  </md-card>

  <md-card>
    <md-card-title>
      <span md-colors="{color: 'red'}">E</span>
      <span md-colors="{color: 'pink'}">V</span>
      <span md-colors="{color: 'purple'}">E</span>
      <span md-colors="{color: 'deepPurple'}">R</span>
      <span md-colors="{color: 'indigo'}">Y</span>
      <span md-colors="{color: 'blue'}">W</span>
      <span md-colors="{color: 'light-blue'}">H</span>
      <span md-colors="{color: 'cyan'}">E</span>
      <span md-colors="{color: 'teal'}">R</span>
      <span md-colors="{color: 'green'}">E</span>
      <span md-colors="{color: 'lightGreen'}">!</span>
      <span md-colors="{color: 'lime'}">!</span>
    </md-card-title>
  </md-card>
</div>
